body {
  border-left: 55px solid rgb(85, 78, 78);
    
  border-right: 55px solid rgb(85, 78, 78);
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, white, grey);

  color: white;
}


img{
    width: 200px;
    height: 200px;
    border: 3px double white;
}

#gastosCasa1{
    margin-top: 1%;
    margin-left: 18%;

}
#gastosCasa2{
    margin-top: 1%;
    margin-left: 18%;
    margin-bottom: 1%;

}
#resultado{
    background-color: white;
    text-align: center;
    margin-left: 22%;
    margin-right: 20%;
    margin-top: 1%;

}
.gasto{
    margin-left: 15px;
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;
  }
  .gasto:hover{
    --escala: 1.1;
    cursor:pointer;
  }
  .encabezado {
    background-color: rgb(3, 16, 22);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;


    
    padding: 20px;
  } 
  p{
    color: white;
  }
  #realizar {
    text-align: center;
    background-color: white;
    
  }
  #resultado{
    margin-top: 1%;
    color: black;
    width: 500px;
    height: 250px;
    margin-left: 36%;
    
  }
  .button {
    margin-top: 10px;
    width: 200px; 
 
    background-color: black; 
    color: white; 
    padding: 14px 20px; 
    text-align: center; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}

.button:hover {
    background-color: #0161a1; 
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.fondo-animado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #0161a1, #070707, #0161a1, #070707, #0161a1, #070707, #0161a1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contenido {
  position: relative;

}
