body {
  border-left: 55px solid rgb(85, 78, 78);
  border-right: 55px solid rgb(85, 78, 78);
  margin: 0;
  padding: 0;
  background: rgb(85, 78, 78) ;

  color: white;
}


img{
    width: 200px;
    height: 200px;
    border: 3px double white;
}

#gastosCasa1{
    margin-top: 1%;
    margin-left: -1%;

}
#gastosCasa2{
    margin-top: 1%;
    margin-left: -1%;
    margin-bottom: 1%;

}
#resultado{
    background-color: white;
    text-align: center;
    margin-left: 22%;
    margin-right: 20%;
    margin-top: 1%;

}
.gasto{
    margin-left: 15px;
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;
  }
  .gasto:hover{
    --escala: 1.1;
    cursor:pointer;
  }
  .encabezado {
    background-color: rgb(3, 16, 22);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    width: 1060px;
    text-align: center;
    padding: 20px;
    
  } 
  p{
    color: white;
  }
  #realizar {
    text-align: center;
    background-color: white;
    width: 1104px;

  }
  #resultado{
    
     margin-top: 1%;
    color: black;
    margin-left: 20.5%;

    height: 250px; 
    
  }
  .button {
    margin-top: 10px;
    width: 200px; 
    background-color: black; 
    color: white; 
    padding: 14px 20px; 
    text-align: center; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}

.button:hover {
    background-color: #0161a1; 
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.contenedor {
  display: flex;
  height: 100%;
}
#divAvisos {
  width: 30%;
  float: right;
  margin-top: 55px;
  margin-right: 5%;
  height: 850px;
  text-align: center;
}
h3{
  color: black;
}
.estiloCajas {
  box-sizing: border-box;
  background-color: white;
  border: 2px solid rgb(5, 4, 5);
  border-radius: 1em;
  overflow: hidden;
}